<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotional Speech Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="isi">
        <h1 class="title">LexiPal</h1>
        <div class="input">
            <textarea id="inputText" placeholder="Enter your text here..."></textarea>
            <button id="button" onClick="generateSpeech()">Generate Speech</button>
            <p id="result">Predicted Emotion: <span id="emotionDetect"></span></p>
        </div>
        <div class="audio">
            <audio id="audioPlayer" controls></audio>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
